.footer{
  height:             60vh;
  width:              100vw;
  background-color: #272727;
  position:           relative;
  &__contents{
    display:          flex;
    justify-content:  center;
    &--content{
      margin:         40px 60px 40px 60px;
      h1{
        font-size:    22px;
        color:        #fff;
      }
      ul{
        margin:       40px 0 20px;
        color:       green;
        li{
          margin-bottom: 10px;
          a{
            color:      #fff;
            font-size:  14px;
          }
        }
      }
    }
  }
  &__icon{
    margin:     0 auto;
    position:   absolute;
    bottom:     10%;
    left:       43%;
  }
}