.pick_up__category--flex
  .item
    .image
      = image_tag "photo/photo_1.jpg", height: "350", with: "250"
      = image_tag "photo/photo_2.jpg", height: "350", with: "250"
      = image_tag "photo/photo_3.jpg", height: "350", with: "250"
      = image_tag "photo/photo_L4.jpg", height: "350", with: "250"
    .info
    
      %p 
        ワンピース
        %br/
        ¥
        4,980(税込)
        %i.fas.fa-star
          0
      %p 
        ワンピース
        %br/
        ¥
        4,980(税込)
        %i.fas.fa-star
          0
      %p 
        ワンピース
        %br/
        ¥
        4,980(税込)
        %i.fas.fa-star
          0
      %p 
        
        %br/
        ¥
        4,980(税込)
        %i.fas.fa-star
          0
