.pick_up__category--flex
  .item60
    .image60
      = image_tag "photo/photo_1", height: "350", with: "250"
      .info60
        %p 
          ワンピース
          %br/
          ¥
          4,980(税込)
          %i.fas.fa-star
            0

    .image60
      = image_tag "photo/photo_2", height: "350", with: "250"
      .info60
        %p 
          ワンピース
          %br/
          ¥
          4,980(税込)
          %i.fas.fa-star
            0

    .image60
      = image_tag "photo/photo_3", height: "350", with: "250"
      .info60
        %p 
          ワンピース
          %br/
          ¥
          4,980(税込)
          %i.fas.fa-star
            0

    .image60
      = image_tag "photo/photo_L4", height: "350", with: "250"
      .info60
        %p 
          ワンピース
          %br/
          ¥
          4,980(税込)
          %i.fas.fa-star
            0
      