@mixin pic_up_content(){
  height: 50%;
  width:  100%;
}

@mixin pic_up_h1(){
  text-align:   center;
  font-size:    26px;
  font-weight:  bold;
  padding:      80px 0 10px;
}

@mixin pic_up_color(){
  padding-top:  10px;
  color:        #87CEFA;
}

@mixin pic_up_flex(){
  width:            80%;
  height:           100%;
  margin:           0 auto 60px;
  display:          flex;
  justify-content:  left;
}


.pick_up{
  margin-top: 100px;
  height:           1500px;
  width:            100vw;
  background-color: rgb(250, 250, 250);
  a{
    height: 50%;
  }
  &__category{
    @include pic_up_content();
    h1{
      @include pic_up_h1();
    }
    .color{
      @include pic_up_color();
    }
    &--flex{
      @include pic_up_flex();
      overflow:         auto;
      .item60{
        position: relative;
        display: flex;
        justify-content: space-between;
        .image60{
          .info60{
            width: 350px;
            height: 100px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            p{
              line-height: 25px;
              padding: 10px;
            }
            i{
              bottom: 10px;
              right: 10px;
            }
          }
        }
      }
      :hover{
        opacity: 0.8;
      }
    }
    &--flex::-webkit-scrollbar{
      display:none;
    }
  }

  &__brand{
    @include pic_up_content();
    h1{
      @include pic_up_h1();
    }
    .color{
      @include pic_up_color();
    }
    &--flex{
      @include pic_up_flex();
      :hover{
        opacity: 0.8;
      }
    }
  }
}