* {
  box-sizing: border-box;
}

.RegistrationWrapper{
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 50px 0;
  .RegistrationNew{
    width: 700px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-radius: 10px;
    .RegistrationTitle{
      text-align: center;
      padding: 20px;
      border-bottom: solid 1px #ccc;
      h2{
        font-size: 22px;
        font-weight: bold;
      }
      .Btn-blue{
        display: block;
        width: 50%;
        margin: 0 auto;
        background-color: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        line-height: 48px;
        text-decoration: none;
      }
    }
    .RegistrationForm{
      padding: 24px 16px 40px;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      margin-top: 15px;
      .FormGroup{
        margin-bottom: 15px;
        label{
          font-weight: bold;
        }
        &__require{
          background-color: rgb(255, 58, 58);
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
        }
        &__confirm{
          background-color: lightskyblue;
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
        }
        &__optional{
          background-color: rgb(160, 240, 171);
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
        }
        &__input{
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        &__input.half{
          width: calc(50% - 6px);
        }
        &__input.short{
          width: 76px;
        }
      }
      .actions{
        margin-top: 25px;
        .FormBtn{
          display: block;
          width: 100%;
          background-color: #87CEFA;
          border: 1px solid #87CEFA;
          color: #fff;
          border-radius: 4px;
          cursor: pointer;
          text-align: center;
          line-height: 48px;
        }
      }
    }
  }
}