-# .main
-#   - @items.each do |item|
-#     %ul.main-list
-#       %li.ul-list
-#         .main-post
-#           = image_tag image.src.url
-#           .price-name
-#             %p 
-#               = item.price
-#             %p
-#               = item.item_name 
-#             %p
-#               = item.condition.name
-#             %p
-#               = item.prefecture.name
-#             %p
-#               = item.postageplayer.name
-#             %p
-#               = item.shippingdate.name

